body{
  background-color:#f4f4f4;
  font-family: Arial, sans-serif;
  color:#222;
  margin:0;}

header{
  background-color: lightblue;
  text-align: center;
  padding:20px;}
nav a{
  margin:10px;
  text-decoration:none;
  color: darkblue;}

nav a:hover{
  color:red;}

section {
  max-width:800px;
  margin:20px auto;
  padding:20px;
  background-color:white;}

#projects{
  border: 2px solid lightgray;}

footer{
  text-align: center;
  padding:10px;
  background-color:lightblue;}
